    /*====================MAIN PAGE STYLES============*/

    html {
        /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
        font-size: 62.5%;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }



    body {
        margin: 0;
        height: 100vh;
        padding: 0;
        color: black;
        font-family: $font-main;
        font-size: 1.8rem;
        line-height: 160%;
        font-weight: $fwt-thin;
    }

    %heading {
        font-family: $font-heading;
        line-height: 1.5;
        word-wrap: break-word;
        text-align: center;
        color: white;
        padding-top: .5em;
        font-weight: 500;
    }
    /*--adds .4 rem to each heading fz and character spacing 1-6---*/

    $size: 2.1rem;
    $spacing: 7px;
    @for $i from 1 through 4 {
        h$i {
            font-size: resolve($size);
            letter-spacing: resolve($spacing);
            @extend %heading;
        }
        $size: $size - .4rem;
        $spacing: $spacing * .3;
    }

    @media $xsmall {
        $size: 2.5rem;
        $spacing: 10px;
        @for $i from 1 through 4 {
            h$i {
                font-size: resolve($size);
                letter-spacing: resolve($spacing);
            }
            $size: $size - .4rem;
            $spacing: $spacing * .3;
        }
    }

    @media $small {
        $size: 4.0rem;
        $spacing: 12px;
        @for $i from 1 through 4 {
            h$i {
                font-size: resolve($size);
                letter-spacing: resolve($spacing);
            }
            $size: $size - .4rem;
            $spacing: $spacing * .3;
        }
    }

    @media $medium {
        $size: 4.4rem;
        $spacing: 18px;
        @for $i from 1 through 4 {
            h$i {
                font-size: resolve($size);
                letter-spacing: resolve($spacing);
            }
            $size: $size - .4rem;
            $spacing: $spacing * .3;
        }
    }

    @media $large {
            $size: 4.8rem;
            $spacing: 22px;
            @for $i from 1 through 4 {
                h$i {
                    font-size: resolve($size);
                    letter-spacing: resolve($spacing);
                }
                $size: $size - .8rem;
                $spacing: $spacing * .3;
            }
        }
