    /*====================MAIN PAGE STYLES============*/

    /* Track */


    html {
        /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
        font-size: 62.5%;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }



    body {
        background: transparent;
        position: relative;
        margin: 0;
        padding: 0;
        color: black;
        font-family: $font-main;
        font-size: 1.8rem;
        line-height: 160%;
        font-weight: $fwt-thin;
  .main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

        .hidden {
          display: none;
        }
      }

.logo {
    padding: 1rem 0;
    #logo-svg {
        position: relative;
        background: url(../images/logos/DRD_notag.svg) no-repeat $white;
        background-size: 90%;
        background-position: center center;
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
    }
  }


    %heading {
        font-family: $font-main;
        line-height: 1.5;
        word-wrap: break-word;
        text-align: center;
        color: $white;
        padding: 1rem 0;
        font-weight: 500;
        margin: 0;
    }


h1 {
  @extend %heading;
  font-family: $font-heading;
  letter-spacing: 5px;
  font-size: 3.4rem;
  color: $brightblue;

    @media $xsmall {
      font-size: 3.8rem;

    }

    @media $small {
      font-size: 4.4rem;
      letter-spacing: 6px;
    }
    @media $medium {
      font-size: 5.0rem;
      letter-spacing: 7px;
    }
    @media $large {
      font-size: 5.8rem;
      letter-spacing: 9px;
    }

  }/*end of h1*/

  h2 {
    @extend %heading;
    letter-spacing: 3px;
    font-size: 2.0rem;

    @media $xsmall {
      font-size: 2.4rem;
      letter-spacing: 3px;
    }
    @media $small {
      font-size: 2.8rem;
      letter-spacing: 3px;
    }

  }/*end h2*/

  h3 {
    @extend %heading;
    letter-spacing: normal;
    font-size: 1.8rem;

    @media $xsmall {
      font-size: 2.0rem;
    }
    @media $small {
      font-size: 2.4rem;
    }
  }

  h4 {
    @extend %heading;
  }

  svg {
    display: block;
    margin: auto;
    fill: $brightorange;
    width: 44px;
    text-align: center;
  }

  p {
    color: $white;
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    @media $medium {
      width: 80%;
      margin: auto;
      font-size: 2.0rem;
    }
  }

em {
  font-family: $font-cursive;
  color: $DRDorange;
  font-size: 120%;
}

svg {
  display: block;
}

.drd {
  font-family: $font-heading;
  font-size: 100%;
  letter-spacing: 3px;
}

.bee-svg {
  z-index: 9999999;
  height: 600px;

  svg {
    width: 100%;
  }


}



.footer {
  padding: 3rem 0;
}
