    /*====================MAIN PAGE STYLES============*/

    /* Track */


    html {
        /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
        font-size: 62.5%;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }



    body {
        margin: 0;
        height: 100vh;
        padding: 0;
        color: black;
        font-family: $font-main;
        font-size: 1.8rem;
        line-height: 160%;
        font-weight: $fwt-thin;
      }



    %heading {
        font-family: $font-heading;
        line-height: 1.5;
        word-wrap: break-word;
        text-align: center;
        color: white;
        padding: 1rem 0;
        font-weight: 500;
        margin: 0;
    }
    /*--adds .4 rem to each heading fz and character spacing 1-6---*/

h1 {
  @extend %heading;
  font-size: 2.5rem;
  letter-spacing: 7px;

    @media $xsmall {
      font-size: 3.2rem;
      letter-spacing: 10px;
    }
    @media $small {
      font-size: 4rem;
      letter-spacing: 12px;
    }
    @media $medium {
      font-size: 4.4rem;
      letter-spacing: 18px;
    }
    @media $large {
      font-size: 4.8rem;
      letter-spacing: 22px;
    }

  }/*end of h1*/

  h2 {
    @extend %heading;
    letter-spacing: 3px;
    font-size: 2.0rem;

    @media $xsmall {
      font-size: 2.4rem;
      letter-spacing: 3px;
    }
    @media $small {
      font-size: 2.8rem;
      letter-spacing: 3px;
    }

  }/*end h2*/

  h3 {
    @extend %heading;
    letter-spacing: normal;
    font-size: 1.8rem;

    @media $xsmall {
      font-size: 2.0rem;
    }
    @media $small {
      font-size: 2.4rem;
    }
  }

  h4 {
    @extend %heading;
  }

  svg {
    display: block;
    margin: auto;
    fill: $brightorange;
    width: 44px;
    text-align: center;
  }

  p {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    @media $medium {
      width: 80%;
      margin: auto;
      font-size: 2.0rem;
    }
  }
