@define-mixin backImage
$image,
$height: 100vh,
$grstart: rgba(0, 0, 0, .2),
$grend: rgba(0, 0, 0, .5),
$bgPos: center center,
$bgSize: 100% {
    background: linear-gradient( to top, $grstart, $grend), url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    background-size: $bgSize;
    height: 400px;
    max-height: $height;
}

@define-mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}



/*@define-mixin headingSize $size: 1.8rem, $spacing: 7px
{
  @for $i from 6 through 1{
    h#{$i}{
      @extend %heading;
      font-size: $size;
      letter-spacing: $spacing;
    }
    $size: $size + .4rem;
    $spacing: $spacing * 1.2;
  }
}*/


/*@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    } @else {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }

}*/
