



$DRDblue: rgb(0, 181, 197);
$DRDorange:   rgb(230, 99, 41);
$DRDyellow: rgb(255, 173, 66);
$sand: rgb(253, 227, 194);

$white: color($sand lightness(97%)); /*rgb(254, 244, 230)*/
$brightblue: color($DRDblue lightness(40%)); /*#28959f rgb(0, 187, 204)*/
$brightyellow: color($DRDyellow lightness(40%)); /*#cc7400 rgb(204 116 0)*/
$brightorange: color($DRDorange lightness(40%));  /*#b74615 rgb(183 70 21)*/
$fontblue: color($DRDblue saturation(60%)); /*rgb(40, 149, 159)*/
$black-cvr: rgba(0,0,0,.5);
$black-hvr: rgba(0,0,0,.2);
$white-2: color($sand lightness(92%));
$white-4: color($sand lightness(94%));
$white-6: color($sand lightness(96%));
$white-8: color($sand lightness(98%));
$blue-2: color($DRDblue lightness(92%));
$blue-4: color($DRDblue lightness(94%));
$blue-6: color($DRDblue lightness(96%));
$blue-8: color($DRDblue lightness(98%));



$font-main:'Raleway', sans-serif;
$font-heading: 'Roboto Slab', serif;
$font-cursive: 'Dancing Script', cursive;

$fwt-thin: 300;
$fwt-bold: 700;

$xsmall: screen and (min-width: 380px);
$small: screen and (min-width: 600px);
$medium: screen and (min-width: 760px);
$large: screen and (min-width: 1200px);
$xlarge: screen and (min-width: 1400px);
