#design {
  
  #love {
    background-color: $white-8;
  }
  #portal {
    background-color: $white-6;
          }
  #experience {
    background-color: $white-4;
  }
  #get-started {
    background-color: $white-2;
  }

  @media $medium {
      width: 100%;
      margin: 0 auto;
      #love, #portal {
        background-color: none;
      }
      #experience, #get-started {
        background-color: $white-2;
      }
      p {
        width: 90%;
      }
  }

}/*end of #design*/
