#drd {
    background-color: $DRDblue;

    #logo {
      padding-top: 2rem;
      position: relative;
      background: url(../images/logos/DRD_notag.svg) no-repeat white;
      background-size: 90%;
      background-position: center center;
      display: block;
      width: 100px;
      height: 100px;
      margin: 1rem auto 0;
      padding: 4.8rem 1rem;
      border-radius: 50%;

    }



    p {
        font-family: $font-cursive;
        text-align: center;
        padding: 1rem 0;
        font-size: 1.6rem;
         @media $xs395 {
            font-size: 2rem;
        }
      }
    }/*end of #DRD*/
