/*-----------Header Styles--------------------*/

#headerImage {
    @mixin backImage ../images/backgrounds/glacier2_500.jpg, 200px, transparent, transparent, center top, cover;
    /* > 600 px */
    @media $small {
        @mixin backImage ../images/backgrounds/glacier2_500.jpg, 250px, transparent, transparent, center top, cover;
    }
    /*> 900px*/
    @media $medium {
        @mixin backImage ../images/backgrounds/glacier2_800.jpg, 300px, transparent, transparent, center center, cover;
    }
    @media $large {
        @mixin backImage ../images/backgrounds/glacier2_1600.jpg, 350px, transparent, transparent, center -50px, cover;
    }
    @media $xlarge {
        @mixin backImage ../images/backgrounds/glacier2_1600.jpg, 350px, transparent, transparent, center -100px, cover;
    }
    .nav {
        .nav-elements {
            display: block;
            .nav-bar {
              li{
                text-align: center;
                a {
                  color: white;
                  text-align: center;
                }
              }/* li */

            }/*nav-bar*/
        }/*nav-elements*/
    }/*nav*/
}/*headerImage*/

#drd {
    background-color: $DRDblue;
    h2 {
        padding-top: 0;
    }
    p {
        font-family: $font-cursive;
        text-align: center;
        padding: 4% 0 1%;
        font-size: 1.6rem;
        @media $xsmall {
            font-size: 2rem;
        }
    }
}
