.nav-elements {
    padding: 2rem 0 1rem;
    width: 100%;

    .nav-bar {
        display: block;
        width: 80%;
          @media $medium {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 0;
          }
        margin: 0 auto;
        text-align: center;
        li {
            margin: 2rem;;
        }
        a {
            color: black;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            transition: .3s ease-out;
            padding: 0 .4rem;
            @media $xsmall {
              font-size: 2.2rem;
            }
            &:after {
                display: block;
                content: '';
                background-color: $DRDyellow;
                width: 0;
                height: 3px;
                margin-bottom: .3rem;
                transition: width .3s ease-out, background-color .3s ease-in;
            }
            &:hover {
                color: $DRDyellow;
            }
            &:hover:after {
                content: '';
                background-color: $DRDyellow;
                width: 100%;
            }
        }
        /*end of anchor tags*/

  }  /*nav-bar*/



}/*nav-elements*/
