.nav-elements {
    padding: 0;
    background: $sand;
    margin: 2rem 0 4rem;
      @media $medium {
        margin-top: 5rem;
      }

    .nav-bar {
        display: block;
          @media $medium {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin: 0;
          }
        margin: 0 auto;
        text-align: center;
        li {
            margin: 1rem 1rem;
        }
        a {
            color: $brightblue;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            transition: .3s ease-out;
            padding: 0 .4rem;
            @media $xsmall {
              font-size: 1.8rem;
            }
            &:after {
                display: block;
                content: '';
                background-color: white;
                width: 0;
                height: 3px;
                margin-bottom: .3rem;
                transition: width .3s ease-out, background-color .3s ease-in;
            }
            &:hover {
                color: white;
            }
            &:hover:after {
                content: '';
                background-color: white;
                width: 100%;
            }
        }
        /*end of anchor tags*/

  }  /*nav-bar*/



}/*nav-elements*/
