/*-----------Header Styles--------------------*/


/*.header {*/


/*min-height: 100vh;
  position: relative;*/

.title-section {
    z-index: -100;
    background: $black-cvr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bg-wrapper {
        padding: 1rem 0;
        #logo {
            position: relative;
            background: url(../images/logos/DRD_notag.svg) no-repeat white;
            background-size: 90%;
            background-position: center center;
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
    /*end of .bg-wrapper*/
    #title {
        h1 {
            color: $brightblue;
            padding: 2rem 0 1rem;
            font-size: 2.0rem;
            @media $xsmall {
              font-size: 2.5rem;
            }
            @media $small {
              font-size: 2.8rem;
            }
            @media $medium {
              font-size: 4.4rem;
            }
        }
        h3 {
            padding-top: 0;
            padding-bottom: 2rem;
            color: white;
            letter-spacing: 3px;
            @media $medium {
              font-size: 3.2rem;
              letter-spacing: 5px;
            }
        }
        p {
            font-family: $font-cursive;
            text-align: center;
            color: white;
            padding: 10px 0;
            font-size: 1.8rem;
            @media $small {
                font-size: 2.2rem;
            }
            @media $medium {
                font-size: 2.8rem;
            }
        }
    }
    /*end of #title*/
}


/*end of .headerImage*/
