.ui-accordion {
  background: blue;
  font-family: inherit;
  padding: 2rem;

    .ui-accordion-panel {
        color: orange;
        border: 1px solid $DRDblue;
        /*background: black;*/
    }
    .ui-accordion-header {
        color: $DRDyellow;
        border: 10px solid $DRDyellow;
        background: $brightblue;
    }
    .ui-accordion-header-collapsed {
        color: $DRDorange;
        border: 10px solid $DRDorange;
    }
    .ui-accordion-content {
        color: $brightblue;
        border: 10px solid $brightblue;
    }
    .ui-accordion-content-active {
        color: $brightyellow;
        border: 10px solid $brightyellow;
    }
    .ui-accordion-header-icon {
        color: $brightorange;
        border: 10px solid $brightorange;
    }
    .ui-accordion-icons {
        color: purple;
        border: 10px solid purple;
    }
}
