.ui-accordion {
  background: $white-4;
  width: 80%;
  margin: auto;
  font-family: inherit;
  padding: 2rem;

    .ui-accordion-panel {
        border: 1px solid $DRDblue;
        /*background: black;*/
    }
    .ui-accordion-header {
        color: $DRDyellow;
        border: 10px solid $DRDyellow;
        background: $brightblue;
          text-align: left;
    }
    .ui-accordion-header-collapsed {
        color: $DRDorange;
    }
    .ui-accordion-content {
        border: 10px solid $brightblue;
        p {
          font-size: 1.6rem;
          padding: 0 1rem;
        }
    }
    .ui-accordion-content-active {
        color: $brightyellow;
      padding: 0;
    }
    .ui-accordion-header-icon {
        color: $brightorange;
    }
    .ui-accordion-icons {
    }
}
