
.container {
  .row {
    display: block;
      @media $medium {
        display: flex;
        flex-direction: row;
      }

      .summary {
        h3, h4 {
        color: $DRDblue;
        cursor: pointer;
        }
        h3.visited {
          color: $orangedarker;
        }

    }
      .block {
        width: 90%;
        margin: auto;
        padding: 3rem 1rem;
        @media $medium {
          width: 50%;
          margin: 1%;
          border-radius: 6px;
        }
        /*margin: .5rem;*/
      } /*end of block*/
  } /*end of row*/
} /*end of container*/
