.carousel {
  .carousel-slide {
    max-width: 750px;
    margin: auto;
    padding: 6rem;
    background: $white;
  }


.slide {
    img {
      display: block;
        width: 600px;
        margin: auto;
    }
}
}
