.carousel {
  .carousel-div {
    max-width: 650px;
    margin: auto;
    background: $white;
    padding: 1rem;
    @media $small {
      padding: 3rem;
    }
  }

  #bmb-slide img {
    padding-top: 1rem;
  }

.slide-div {
  margin: auto;
  padding: 0;

    img {
       width: 100%;
       min-width: 300px;
       max-width: 500px;
       margin: auto;
       &:hover {
         cursor: pointer;
         }
    }

  }/*end of slid-div*/
} /*end of carousel-div*/
