.section {
    .article {




        .block {
            padding: 3rem 1rem;

            @media $medium {
                width: 50%;
                margin: 1rem;

                /*max-height: 400px;*/
                /*overflow-y: auto;*/
                &:last-of-type {
                    margin-left: 0;
                }

            } /*end of medium*/
            .hidden {
              display: none;
            }
        }
        /*end of .block*/
        p {
            margin: 1rem auto;
            text-align: justify;
            @media $small {
                font-size: 2.0rem;
            }
        }
        /*end of p*/
    }
    /*end of article*/
}


/*end of section*/

.section.blue-background {
    background: color($DRDblue a(.8));
}

.white-background {
    background: color(white a(.9));
    h1, h2, h3, h4, h5, p {
        color: color($DRDblue saturation(60%));
    }
}

.filler {
    height: 50vh;
}
