.section {
  position: relative;
  width: 100%;

  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
    .row {
      position: relative;
      display: block;
      @media $small {
        display: flex;
        flex-direction: row;
      }
    } /*end of row*/
} /*end of container*/



/*end of section*/
