
/*//styling for jquery modal to get the modal in foreground of window*/
.blocker {
z-index: 9999;
@mixin backImageGradient ../images/backgrounds/desert_sand.jpg;
}

.modal {
  background: $white;
  max-width: 800px;
  padding: 3rem;

  p {
    color: $bluedarker;
    width: 95%;
    padding: 1rem 0 0;

  }

  a {
    color: $DRDorange;
    font-family: $font-cursive;
    font-size: 110%;
    text-decoration: underline;
    &:hover {
      color: $bluedark;
    }
  }
} /*end of jquery-modal style*/

/*--style to to toggle with scrollmagic so logo sits on top*/
.z-index {
  z-index: 99;
}


/*===========slick carousel styles===============*/

/* --position carousel side buttons*/
.slick-prev {
    left: 20px;
    z-index: 9999; /*included to get previous button to advance*/
}

.slick-next {
  right: 20px;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px;
    color: $DRDblue;
}

/*---styling dot buttons*/
.slick-dots li button:before {
    font-size: 12px;
    color: $DRDblue;
  }

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: $DRDblue;
}
