@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Slab:300,400,700|Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/*rgb(254, 244, 230)*/
/*#28959f rgb(0, 187, 204)*/
/*#cc7400 rgb(204 116 0)*/
/*#b74615 rgb(183 70 21)*/
/*rgb(40, 149, 159)*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a{
    display: inline-block;
}
:focus{
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/*@define-mixin headingSize $size: 1.8rem, $spacing: 7px
{
  @for $i from 6 through 1{
    h#{$i}{
      @extend %heading;
      font-size: $size;
      letter-spacing: $spacing;
    }
    $size: $size + .4rem;
    $spacing: $spacing * 1.2;
  }
}*/
/*@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    } @else {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }

}*/
/*====================MAIN PAGE STYLES============*/
/* Track */
html{
    /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background: rgb(255, 248, 240);
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Raleway',sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}
body .hidden{
    display: none;
}
.logo{
    padding: 1rem 0;
}
.logo #logo-svg{
    position: relative;
    background: url(../images/logos/DRD_notag.svg) no-repeat rgb(255, 248, 240);
    background-size: 90%;
    background-position: center center;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
h1, h2, h3, h4{
    font-family: 'Raleway',sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    color: rgb(255, 248, 240);
    padding: 1rem 0;
    font-weight: 500;
    margin: 0;
}
/*--adds .4 rem to each heading fz and character spacing 1-6---*/
h1{
    font-size: 2.5rem;
    letter-spacing: 7px;
}
@media screen and (min-width: 380px){
    h1{
        font-size: 3.2rem;
        letter-spacing: 10px;
    }
}
@media screen and (min-width: 600px){
    h1{
        font-size: 4rem;
        letter-spacing: 12px;
    }
}
@media screen and (min-width: 760px){
    h1{
        font-size: 4.4rem;
        letter-spacing: 18px;
    }
}
@media screen and (min-width: 1200px){
    h1{
        font-size: 4.8rem;
        letter-spacing: 22px;
    }
}
/*end of h1*/
h2{
    letter-spacing: 3px;
    font-size: 2.0rem;
}
@media screen and (min-width: 380px){
    h2{
        font-size: 2.4rem;
        letter-spacing: 3px;
    }
}
@media screen and (min-width: 600px){
    h2{
        font-size: 2.8rem;
        letter-spacing: 3px;
    }
}
/*end h2*/
h3{
    letter-spacing: normal;
    font-size: 1.8rem;
}
@media screen and (min-width: 380px){
    h3{
        font-size: 2.0rem;
    }
}
@media screen and (min-width: 600px){
    h3{
        font-size: 2.4rem;
    }
}
svg{
    display: block;
    margin: auto;
    fill: rgb(183, 70, 21);
    width: 44px;
    text-align: center;
}
p{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
}
@media screen and (min-width: 760px){
    p{
        width: 80%;
        margin: auto;
        font-size: 2.0rem;
    }
}
em{
    font-family: 'Dancing Script',cursive;
    color: rgb(230, 99, 41);
    font-size: 110%;
}
.drd{
    font-family: 'Roboto Slab',serif;
    font-size: 100%;
    letter-spacing: 3px;
}
/*.f180 {
    display: inline-block;
    unicode-bidi:bidi-override;
    direction:rtl;
    transform:rotateY(180deg);
    font-size: 150%;
  }

.f90 {
  display: inline-block;
  font-size: 150%;
  transform:rotate(-90deg);
  padding-left: 5px;
}*/
.section{
    position: relative;
    z-index: 10;
    padding: 3rem 0;
    min-height: 100vh;
}
.full-height{
    height: 100vh;
}
.pic-height{
    height: 100vh;
}
@media screen and (min-width: 760px){
    .pic-height{
        height: 100vh;
    }
}
/*end of section*/
.aside{
    padding: 2rem 0;
}
.container{
    /*end of row*/
}
.container .row{
    display: block;
    /*end of block*/
}
.container .row .summary h3, .container .row .summary h4{
    color: rgb(0, 181, 197);
    cursor: pointer;
}
.container .row .summary h3.visited{
    color: rgb(179, 82, 41);
}
.container .row .block{
    width: 90%;
    margin: auto;
    padding: 3rem 1rem;
    /*margin: .5rem;*/
}
@media screen and (min-width: 760px){
    .container .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
@media screen and (min-width: 760px){
    .container .row .block{
        width: 50%;
        margin: 1%;
        border-radius: 6px;
    }
}
/*end of container*/
.accordion{
    width: 100%;
    padding: 3rem 3rem 0;
}
/* Icons */
@font-face{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
    opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: .25;
}
.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: -25px;
}
[dir='rtl'] .slick-prev{
    right: -25px;
    left: auto;
}
.slick-prev:before{
    content: '←';
}
[dir='rtl'] .slick-prev:before{
    content: '→';
}
.slick-next{
    right: -25px;
}
[dir='rtl'] .slick-next{
    right: auto;
    left: -25px;
}
.slick-next:before{
    content: '→';
}
[dir='rtl'] .slick-next:before{
    content: '←';
}
/* Dots */
.slick-dotted.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus{
    outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{
    opacity: 1;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: black;
}
/*//styling for jquery modal to get the modal in foreground of window*/
.blocker{
    z-index: 9999;
    background: -webkit-linear-gradient( bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/backgrounds/desert_sand.jpg);
    background: linear-gradient( to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/backgrounds/desert_sand.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
}
.modal{
    background: rgb(255, 248, 240);
    max-width: 800px;
    padding: 3rem;
}
.modal p{
    color: rgb(0, 164, 179);
    width: 95%;
    padding: 1rem 0 0;
}
.modal a{
    color: rgb(230, 99, 41);
    font-family: 'Dancing Script',cursive;
    font-size: 110%;
    text-decoration: underline;
}
.modal a:hover{
    color: rgb(0, 100, 108);
}
/*end of jquery-modal style*/
/*--style to to toggle with scrollmagic so logo sits on top*/
.z-index{
    z-index: 99;
}
/*===========slick carousel styles===============*/
/* --position carousel side buttons*/
.slick-prev{
    left: 20px;
    z-index: 9999;
    /*included to get previous button to advance*/
}
.slick-next{
    right: 20px;
}
.slick-next:before, .slick-prev:before{
    font-size: 30px;
    color: rgb(0, 181, 197);
}
/*---styling dot buttons*/
.slick-dots li button:before{
    font-size: 12px;
    color: rgb(0, 181, 197);
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: rgb(0, 181, 197);
}
.carousel .carousel-slide{
    max-width: 750px;
    margin: auto;
    padding: 6rem;
    background: rgb(255, 248, 240);
}
.carousel .slide img{
    display: block;
    width: 600px;
    margin: auto;
}
.nav-elements{
    padding: 0;
    background: rgb(253, 227, 194);
    margin: 2rem 0 4rem;
    /*nav-bar*/
}
.nav-elements .nav-bar{
    display: block;
    margin: 0 auto;
    text-align: center;
    /*end of anchor tags*/
}
.nav-elements .nav-bar li{
    margin: 1rem 1rem;
}
.nav-elements .nav-bar a{
    color: rgb(0, 181, 197);
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    padding: 0 .4rem;
}
.nav-elements .nav-bar a:after{
    display: block;
    content: '';
    background-color: rgb(0, 100, 108);
    width: 0;
    height: 3px;
    margin-bottom: .3rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-in;
    transition: width .3s ease-out, background-color .3s ease-in;
}
.nav-elements .nav-bar a:hover{
    color: rgb(0, 100, 108);
}
.nav-elements .nav-bar a:hover:after{
    content: '';
    background-color: rgb(0, 100, 108);
    width: 100%;
}
@media screen and (min-width: 760px){
    .nav-elements{
        margin-top: 5rem;
    }
}
@media screen and (min-width: 760px){
    .nav-elements .nav-bar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 0;
    }
}
@media screen and (min-width: 380px){
    .nav-elements .nav-bar a{
        font-size: 1.8rem;
    }
}
/*nav-elements*/
/*-----------Header Styles--------------------*/
/*.header {*/
/*min-height: 100vh;
  position: relative;*/
#title-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*end of #title*/
}
#title-section #title h1{
    color: rgb(0, 187, 204);
    padding: 2rem 0 1rem;
    font-size: 2.0rem;
}
#title-section #title h3{
    padding-top: 0;
    padding-bottom: 2rem;
    color: rgb(255, 248, 240);
    letter-spacing: 3px;
}
#title-section #title div{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    color: rgb(255, 248, 240);
    padding: 10px 0;
    font-size: 1.8rem;
}
@media screen and (min-width: 380px){
    #title-section #title h1{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 600px){
    #title-section #title h1{
        font-size: 2.8rem;
    }
}
@media screen and (min-width: 760px){
    #title-section #title h1{
        font-size: 4.4rem;
    }
}
@media screen and (min-width: 760px){
    #title-section #title h3{
        font-size: 3.2rem;
        letter-spacing: 5px;
    }
}
@media screen and (min-width: 600px){
    #title-section #title div{
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 760px){
    #title-section #title div{
        font-size: 2.8rem;
    }
}
/*end of .headerImage*/
.pic-background{
    background: url(../images/backgrounds/desert_flower_white.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    background-size: cover;
    /*z-index: 999;*/
}
#pic2{
    background: url(../images/backgrounds/sunset3_1600.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#pic3{
    background: url(../images/backgrounds/ocotillo_sunset.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.blue-background{
    background: rgb(0, 181, 197);
}
.orange-background{
    background: rgb(230, 99, 41);
}
.yellow-background{
    background: rgb(255, 173, 66);
}
.white-background{
    background: rgb(255, 248, 240);
}
.white-background h1, .white-background h2, .white-background h3, .white-background h4, .white-background h5, .white-background p{
    color: rgb(0, 181, 197);
}
.white-background p{
    color: rgb(0, 164, 179);
}
#design #love{
    background-color: rgb(255, 251, 245);
}
#design #portal{
    background-color: rgb(254, 246, 235);
}
#design #experience{
    background-color: rgb(254, 242, 225);
}
#design #get-started{
    background-color: rgb(254, 237, 215);
}
@media screen and (min-width: 760px){
    #design{
        width: 100%;
        margin: 0 auto;
    }
    #design #love, #design #portal{
        background-color: none;
    }
    #design #experience, #design #get-started{
        background-color: rgb(254, 237, 215);
    }
    #design p{
        width: 90%;
    }
}
/*end of #design*/
#gallery h3{
    width: 50%;
    margin: auto;
}
#gallery .image img{
    max-width: 350px;
}
.gallery-article{
    padding-top: 6rem;
    width: 95%;
    max-width: 960px;
    /* end of galler-article styling*/
}
.gallery-article .container{
    padding: 0;
}
.gallery-article .container .row{}
.gallery-article .info-content{
    padding-left: 2rem;
}
.gallery-article svg{
    display: inline-block;
}
.gallery-article h4{
    width: 100%;
    letter-spacing: 3px;
}
.gallery-article strong{
    display: inline-block;
    font-size: 90%;
    color: rgb(230, 99, 41);
    font-weight: bold;
    letter-spacing: 2px;
}
.gallery-article .image{
    padding: 1rem;
}
.gallery-article .image img{
    display: block;
    max-width: 400px;
    margin: auto;
}
@media screen and (min-width: 760px){
    .gallery-article .container .row{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .gallery-article .container .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
