@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Slab:300,400,700|Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/*#00B5C5*/
/*E66329*/
/*#FFAD42*/
/*#FDE3C2*/
/*rgb(254, 244, 230)*/
/*#28959f rgb(0, 187, 204)*/
/*#cc7400 rgb(204 116 0)*/
/*#b74615 rgb(183 70 21)*/
/*rgb(40, 149, 159)*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a{
    display: inline-block;
}
:focus{
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/*used for modal background*/
/*$media-list: ($xsmall, $small, $medium, $large, $xlarge),
  $size-list: (400, 600, 800, 1000, 2000)
  $background-colors-list: (#4BC2A5, #606F40, #6648CA, #6B6022, #2F54E9),
  $border-colors-list: (#ff9900, #77ff66, #73C227, #C23E50, #7BAFC2),
  $colors-list: (#111, #222, #111, #444, #555)
  @for $i from 1 through length($media-list) {
      @media $ + nth($media-list, $i) {
        background-image: url(../images/ + nth($size-list) + /desert_flower_white.jpg);
          color: nth($colors-list, $i);
          background-color: nth($background-colors-list, $i);
          border: 1px solid nth($border-colors-list, $i);
      }
  }*/
/*@define-mixin headingSize $size: 1.8rem, $spacing: 7px
{
  @for $i from 6 through 1{
    h#{$i}{
      @extend %heading;
      font-size: $size;
      letter-spacing: $spacing;
    }
    $size: $size + .4rem;
    $spacing: $spacing * 1.2;
  }
}*/
/*@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    } @else {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }

}*/
/*====================MAIN PAGE STYLES============*/
/* Track */
html{
    /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Raleway',sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}
body .main{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body .hidden{
    display: none;
}
.logo{
    display: block;
    position: relative;
    padding: 1rem 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    z-index: 45;
}
h1, h2, h3, h4{
    font-family: 'Raleway',sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    color: rgb(255, 248, 240);
    padding: 1rem 0;
    font-weight: 500;
    margin: 0;
}
h1{
    font-family: 'Roboto Slab',serif;
    letter-spacing: 3px;
    font-size: 3.0rem;
    color: rgb(0, 187, 204);
}
@media screen and (min-width: 380px){
    h1{
        font-size: 3.3rem;
        letter-spacing: 4px;
    }
}
@media screen and (min-width: 600px){
    h1{
        font-size: 4.4rem;
        letter-spacing: 6px;
    }
}
@media screen and (min-width: 760px){
    h1{
        font-size: 5.0rem;
        letter-spacing: 7px;
    }
}
@media screen and (min-width: 1200px){
    h1{
        font-size: 5.8rem;
        letter-spacing: 9px;
    }
}
/*end of h1*/
h2{
    letter-spacing: 3px;
    font-size: 2.0rem;
}
@media screen and (min-width: 380px){
    h2{
        font-size: 2.4rem;
        letter-spacing: 3px;
    }
}
@media screen and (min-width: 600px){
    h2{
        font-size: 2.8rem;
        letter-spacing: 3px;
    }
}
/*end h2*/
h3{
    letter-spacing: normal;
    font-size: 1.8rem;
}
@media screen and (min-width: 380px){
    h3{
        font-size: 2.0rem;
    }
}
@media screen and (min-width: 600px){
    h3{
        font-size: 2.4rem;
    }
}
svg{
    display: block;
    margin: auto;
    fill: rgb(183, 70, 21);
    width: 44px;
    text-align: center;
}
p{
    color: rgb(255, 248, 240);
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
}
@media screen and (min-width: 760px){
    p{
        margin: auto;
        font-size: 2.0rem;
    }
}
em{
    font-family: 'Dancing Script',cursive;
    color: rgb(230, 99, 41);
    font-size: 120%;
}
a{
    color: rgb(255, 248, 240);
    font-size: 1.6rem;
    /*width: 200px;*/
    text-align: center;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
    padding: 0 .4rem;
}
a:hover, a em:hover{
    color: rgb(253, 227, 194);
}
@media screen and (min-width: 380px){
    a{
        font-size: 2.0rem;
    }
}
a:after{
    display: block;
    content: '';
    background-color: rgb(253, 227, 194);
    width: 0;
    height: 3px;
    -webkit-transition: width .3s ease-in, background-color .3s ease-out;
    transition: width .3s ease-in, background-color .3s ease-out;
}
a:hover:after{
    content: '';
    background-color: rgb(253, 227, 194);
    width: 100%;
    margin: auto;
}
.a-with-img{
    display: block;
    margin: auto;
    /*removing the underline effect on logo hover*/
}
.a-with-img:hover{
    cursor: pointer;
}
.a-with-img:hover:after{
    width: 0;
}
svg{
    display: block;
}
.footer{
    padding: 3rem 0;
}
.z-45{
    z-index: 45;
}
.z-999{
    z-index: 999;
}
.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    /*end of row*/
}
.container .row{
    display: block;
}
@media screen and (min-width: 760px){
    .container .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}
/*end of container*/
/*end of section*/
.aside{
    padding: 2rem 0;
}
.accordion-group .accordion{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.accordion-group .accordion h4{
    font-size: 1.8rem;
    text-align: left;
    color: rgb(204, 116, 0);
}
.accordion-group .accordion p{
    padding: 10px 10px 0;
    line-height: 1.2;
    font-size: 1.8rem;
}
.accordion-group .accordion p:first-of-type{
    padding-top: 0;
}
/* Icons */
@font-face{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
    opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: .25;
}
.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: -25px;
}
[dir='rtl'] .slick-prev{
    right: -25px;
    left: auto;
}
.slick-prev:before{
    content: '←';
}
[dir='rtl'] .slick-prev:before{
    content: '→';
}
.slick-next{
    right: -25px;
}
[dir='rtl'] .slick-next{
    right: auto;
    left: -25px;
}
.slick-next:before{
    content: '→';
}
[dir='rtl'] .slick-next:before{
    content: '←';
}
/* Dots */
.slick-dotted.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus{
    outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{
    opacity: 1;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: black;
}
/*//styling for jquery modal to get the modal in foreground of window*/
.blocker{
    z-index: 50;
    background: -webkit-linear-gradient( bottom, rgba(255, 248, 240, 0.8), rgba(255, 173, 66, 0.8)), url('../images/backgrounds/desert_flower_white_2000.jpg');
    background: linear-gradient( to top, rgba(255, 248, 240, 0.8), rgba(255, 173, 66, 0.8)), url('../images/backgrounds/desert_flower_white_2000.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /*background-image: url('../images/backgrounds/desert_flower_white_300.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
  @media $small {
    background-image: url('../images/backgrounds/desert_flower_white_600.jpg');

  }
  @media $medium {
    background-image: url('../images/backgrounds/desert_flower_white_800.jpg');

  }

  @media $large {
    background-image: url('../images/backgrounds/desert_flower_white_1000.jpg');

  }
  @media $xlarge {
    background-image: url('../images/backgrounds/desert_flower_white_2000.jpg');

  }*/
}
.modal{
    background: rgb(255, 248, 240);
    padding: 1rem 2rem;
    max-width: 960px;
    z-index: -10;
}
.modal p{
    color: rgb(0, 164, 179);
    padding: 1rem 0;
    line-height: 1.2;
}
.modal a{
    color: rgb(230, 99, 41);
    font-family: 'Dancing Script',cursive;
    font-size: 110%;
    cursor: pointer;
}
.modal a:hover{
    color: rgb(253, 227, 194);
}
/*end of jquery-modal style*/
/*===========slick carousel styles===============*/
/* --position carousel side buttons*/
.slick-prev{
    left: 20px;
    z-index: 1;
    /*included to get previous button to advance*/
}
.slick-next{
    right: 20px;
}
.slick-next:before, .slick-prev:before{
    display: none;
}
@media screen and (min-width: 600px){
    .slick-next:before, .slick-prev:before{
        display: block;
        font-size: 30px;
        color: rgb(0, 181, 197);
    }
}
/*---styling dot buttons*/
.slick-dots li button:before{
    font-size: 12px;
    color: rgb(0, 181, 197);
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: rgb(0, 181, 197);
}
.slick-dots{
    left: 0;
}
/*-------------Accordion styles-------------*/
/*[data-accordion]>[data-control] = headings of accordion*/
/*creates the arrows at the accordion otherwise the css uses a background image and then rotates it.*/
[data-accordion]>[data-control]{
    border-bottom: 1px solid rgb(0, 181, 197);
}
[data-accordion]>[data-control]:after{
    content: '\25B8';
    background-image: none;
    color: rgb(0, 181, 197);
    font-size: 200%;
    line-height: .7;
}
[data-accordion]>[data-control]:hover:after{
    cursor: pointer;
}
/*the open content group*/
[data-accordion].open{
    border-bottom: 1px solid rgb(0, 181, 197);
    padding-bottom: 10px;
}
/*data control = h4 heading*/
[data-accordion].open >[data-control]{
    border-bottom: none;
}
[data-accordion].open >[data-control]:after{
    content: '\25BE';
    -webkit-transform: none;
            transform: none;
}
/*removes the borders on the data content*/
[data-content]>*, [data-control]{
    border: none;
}
.carousel{
    /*end of slid-div*/
}
.carousel .carousel-div{
    max-width: 650px;
    margin: auto;
    background: rgb(255, 248, 240);
    padding: 1rem;
}
.carousel #bmb-slide img{
    padding-top: 1rem;
}
.carousel .slide-div{
    margin: auto;
    padding: 0;
}
.carousel .slide-div img{
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}
.carousel .slide-div img:hover{
    cursor: pointer;
}
@media screen and (min-width: 600px){
    .carousel .carousel-div{
        padding: 3rem;
    }
}
/*end of carousel-div*/
#bee-cluster-1 .bee-1, #bee-cluster-1 .bee-2, #bee-cluster-1 .bee-3, #bee-cluster-1 .bee-4, #bee-cluster-1 .bee-5, #bee-cluster-2 .bee-1, #bee-cluster-2 .bee-2, #bee-cluster-2 .bee-3, #bee-cluster-2 .bee-4, #bee-cluster-2 .bee-5, #bee-cluster-3 .bee-1, #bee-cluster-3 .bee-2, #bee-cluster-3 .bee-3, #bee-cluster-3 .bee-4, #bee-cluster-3 .bee-5{
    width: 60px;
    position: absolute;
    z-index: 1;
}
#bee-cluster-1 .bee-1{
    top: 10%;
    left: 10%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
#bee-cluster-1 .bee-2{
    width: 55px;
    bottom: 30%;
    left: 10%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
#bee-cluster-1 .bee-3{
    width: 25px;
    top: 30%;
    left: 40%;
}
#bee-cluster-1 .bee-4{
    bottom: 30%;
    right: 35%;
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
}
#bee-cluster-1 .bee-5{
    bottom: 0;
    width: 55px;
    left: 26%;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    z-index: 50;
}
/*end of .bee-cluster-1*/
#bee-cluster-2{
    margin-top: 0;
    margin-bottom: 6rem;
}
#bee-cluster-2 .bee-1{
    width: 65px;
    top: 0;
    left: 50%;
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
}
#bee-cluster-2 .bee-2{
    width: 55px;
    top: 30%;
    left: 10%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
#bee-cluster-2 .bee-3{
    width: 25px;
    top: 30%;
    left: 40%;
}
#bee-cluster-2 .bee-4{
    bottom: 25%;
    left: 26%;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}
#bee-cluster-2 .bee-5{
    top: 45%;
    right: 30%;
    width: 55px;
    z-index: 50;
}
/*end of bee-cluster-2*/
#bee-cluster-3{
    display: none;
}
#bee-cluster-3 .bee-1{
    top: 10%;
    left: 10%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
#bee-cluster-3 .bee-2{
    width: 55px;
    bottom: 30%;
    left: 10%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
#bee-cluster-3 .bee-3{
    width: 35px;
    top: 20%;
    right: 20%;
}
#bee-cluster-3 .bee-4{
    width: 47px;
    bottom: 30%;
    right: 10%;
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
}
#bee-cluster-3 .bee-5{
    bottom: 10px;
    width: 45px;
    left: 26%;
    z-index: 50;
}
@media screen and (min-width: 760px){
    #bee-cluster-3{
        display: block;
    }
}
/*end of bee-cluster-3*/
.nav-elements{
    padding: 0;
    background: rgb(230, 99, 41);
    margin: 0 auto;
    /*nav-bar*/
}
.nav-elements .nav-bar{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.nav-elements .nav-bar li{
    padding: 1rem;
}
.nav-elements .nav-bar a{}
.nav-elements .nav-bar a:hover:after{
    width: 200px;
}
/*nav-elements*/
/*-----------Header Styles--------------------*/
#title-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
#title-section #title{
    position: relative;
    margin-top: 6rem;
}
#title-section #title h1{
    color: rgb(0, 181, 197);
    padding: 3rem 0 1rem;
}
#title-section #title h3{
    padding-top: 0;
    padding-bottom: 2rem;
    color: rgb(255, 248, 240);
    letter-spacing: 3px;
}
#title-section #title div{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    color: rgb(255, 248, 240);
    padding: 10px 0;
    font-size: 1.8rem;
}
/*end of #title*/
#title-section #bee-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
}
#title-section #bee-down #title-bee{
    position: relative;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    width: 66px;
}
@media screen and (min-width: 760px){
    #title-section #title h3{
        font-size: 3.2rem;
        letter-spacing: 5px;
    }
}
@media screen and (min-width: 600px){
    #title-section #title div{
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 760px){
    #title-section #title div{
        font-size: 2.8rem;
    }
}
/*end of #title-section*/
.background-pic{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -10;
    background: url('../images/backgrounds/desert_flower_white_300.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: left;
    background-size: cover;
}
@media screen and (min-width: 600px){
    .background-pic{
        background: url('../images/backgrounds/desert_flower_white_600.jpg');
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: left;
        background-size: cover;
    }
}
@media screen and (min-width: 760px){
    .background-pic{
        background: url('../images/backgrounds/desert_flower_white_800.jpg');
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: left;
        background-size: cover;
    }
}
@media screen and (min-width: 1200px){
    .background-pic{
        background: url('../images/backgrounds/desert_flower_white_1000.jpg');
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: left;
        background-size: cover;
    }
}
@media screen and (min-width: 1400px){
    .background-pic{
        background: url('../images/backgrounds/desert_flower_white_2000.jpg');
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: left;
        background-size: cover;
    }
}
.org-yel-white-background{
    background: -webkit-linear-gradient( top, rgba(230, 99, 41, 0.8) 50%, rgba(255, 173, 66, 0.8) 75%, rgba(255, 248, 240, 0.8) 100%);
    background: linear-gradient( to bottom, rgba(230, 99, 41, 0.8) 50%, rgba(255, 173, 66, 0.8) 75%, rgba(255, 248, 240, 0.8) 100%);
}
.white-yel-org-background{
    background: -webkit-linear-gradient( top, rgba(255, 248, 240, 0.8) 25%, rgba(255, 173, 66, 0.8) 75%, rgba(230, 99, 41, 0.8) 100%);
    background: linear-gradient( to bottom, rgba(255, 248, 240, 0.8) 25%, rgba(255, 173, 66, 0.8) 75%, rgba(230, 99, 41, 0.8) 100%);
}
.org-background{
    background-color: rgba(230, 99, 41, 0.8);
}
.org-yel-background{
    background: -webkit-linear-gradient(top, rgba(230, 99, 41, 0.8) 75%, rgba(255, 173, 66, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(230, 99, 41, 0.8) 75%, rgba(255, 173, 66, 0.8) 100%);
}
.yel-white-background{
    background: -webkit-linear-gradient(top, rgba(255, 173, 66, 0.8) 50%, rgba(255, 248, 240, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 173, 66, 0.8) 50%, rgba(255, 248, 240, 0.8) 100%);
}
.white-background{
    background: rgba(255, 248, 240, 0.8);
}
.white-background h1, .white-background h2, .white-background h3, .white-background h4, .white-background h5, .white-background p{
    color: rgb(0, 181, 197);
}
.white-yel-background{
    background: -webkit-linear-gradient(top, rgba(255, 248, 240, 0.8) 90%, rgba(255, 173, 66, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 248, 240, 0.8) 90%, rgba(255, 173, 66, 0.8) 100%);
}
.yel-org-background{
    background: -webkit-linear-gradient(top, rgba(255, 173, 66, 0.8), rgba(230, 99, 41, 0.8));
    background: linear-gradient(to bottom, rgba(255, 173, 66, 0.8), rgba(230, 99, 41, 0.8));
}
.org-trans-background{
    background: -webkit-linear-gradient(bottom, transparent, rgba(230, 99, 41, 0.8));
    background: linear-gradient(to top, transparent, rgba(230, 99, 41, 0.8));
}
#design{
    position: relative;
    width: 100%;
}
#design .row{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}
#design .row2{}
#design .day{
    background: url('../images/suns/BlueSunrise.svg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 600px;
    height: 600px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 45;
    /*end of day-content styling*/
}
#design .day .day-content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 40;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: visible;
    width: 100%;
    height: 360px;
    border-radius: 50%;
    padding: 0;
}
#design .day .day-content h3{
    color: rgb(0, 181, 197);
    font-size: 130%;
}
#design .day .day-content p{
    width: 100%;
    color: rgb(0, 100, 108);
    font-size: 95%;
    line-height: 115%;
    padding: 0;
    padding-top: 10px;
    text-align: center;
}
#design .day .day-content .bee-decoration{
    position: absolute;
    padding: 0;
    top: 20px;
    right: 75px;
    height: 47px;
}
/*end of 'day' content*/
#design #pm{
    background: url('../images/suns/NoonDay.svg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
}
#design #sunset{
    background: url('../images/suns/OrangeSunset.svg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    /*@mixin backImage '../images/suns/Sunset_OgradZZL.svg';*/
}
/*@mixin backImage '../images/suns/Sunset_OgradZZR.svg';*/
#design #sunset h3{
    padding: 0;
    line-height: 1.2;
}
#design .bees{
    display: none;
    position: relative;
    margin-top: 6rem;
    width: 50%;
    -ms-flex-negative: 3;
        flex-shrink: 3;
}
@media screen and (min-width: 600px){
    #design .row{
        padding: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}
@media screen and (min-width: 600px){
    #design .row2{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}
@media screen and (min-width: 380px){
    #design .day .day-content{
        padding: 0 .2rem;
        width: 360px;
    }
}
@media screen and (min-width: 760px){
    #design .bees{
        display: block;
    }
}
/*end of #design*/
#contact-us{
    min-height: 45vh;
    padding-top: 3em;
}
#contact-us h3{
    font-size: 3.0rem;
    line-height: 1.1;
}
#contact-us h4{
    padding: 0;
    font-size: 125%;
}
#contact-us a{
    color: rgb(0, 187, 204);
    font-family: 'Roboto Slab',serif;
    letter-spacing: 5px;
    font-size: 3rem;
}
#contact-us a:hover{
    color: rgb(253, 227, 194);
}
/*end of contact us*/
#gallery .carousel-section{
    min-height: auto;
    padding-bottom: 7rem;
}
#gallery h2{
    font-size: 3.0rem;
    line-height: 2;
    width: 80%;
    margin: auto;
    font-weight: 500;
    padding: 0;
}
#gallery .image img{
    max-width: 350px;
    vertical-align: middle;
}
#gallery .footer{
    position: relative;
}
/*end of #gallery*/
/*styling for modal. Remember this is added to body so cannot be nested within #gallery*/
.gallery-article{
    position: relative;
    padding-top: 2rem;
    width: 95%;
}
.gallery-article .container{
    padding: 0;
    padding-bottom: 3rem;
}
.gallery-article .container .row{}
.gallery-article h4, .gallery-article h2{
    width: 100%;
    letter-spacing: 3px;
    color: rgb(0, 181, 197);
}
.gallery-article h3{
    width: 50%;
    margin: auto;
    color: rgb(0, 181, 197);
}
.gallery-article .favicon{
    width: 25px;
}
.gallery-article strong{
    display: inline-block;
    font-size: 90%;
    color: rgb(0, 181, 197);
    font-weight: 600;
    letter-spacing: 2px;
}
.gallery-article .image{
    padding: 1rem;
}
.gallery-article .image img{
    display: block;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
}
@media screen and (min-width: 760px){
    .gallery-article .container .row{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .gallery-article .container .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .gallery-article .container .row .info-summary{
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .gallery-article .container .row .info-summary p{
        line-height: 1.4;
    }
}
@media screen and (min-width: 600px){
    .gallery-article .favicon{
        width: 40px;
    }
}
/* end of galler-article styling*/
#about-us .container .row .us{
    display: block;
    max-width: 500px;
    padding: 2rem;
    margin: 0 auto;
}
#about-us .container .row .us h3{
    padding-bottom: 0;
}
#about-us .container .row .us h4{
    padding-top: 0;
}
#about-us .container .row .us p{
    padding: 1rem 0 0;
}
/*end of .us*/
#about-us .container .row .img{
    display: block;
    width: 200px;
    margin: auto;
    min-height: 250px;
    border-radius: 50%;
}
#about-us .container .row #kristin-img{
    /*@mixin backImage '../images/us/kas_purple_hat2.jpg', center center, 180%;*/
    background: url('../images/us/kas_headshot2.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 48% -20px;
    background-size: 320%;
}
#about-us .container .row #deb-img{
    /*@mixin backImage '../images/us/deb_cool.JPG', right -30px, 250%;*/
    /*@mixin backImage '../images/us/deb_skiing3.JPG', 0 80%,  120%;*/
    background: url('../images/us/deb_waterfall2.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 20% 100%;
    background-size: 130%;
    /*@mixin backImage '../images/us/deb_w_coffee.jpg', 60% center,  180%;*/
    /*@mixin backImage '../images/us/deb3.jpg', 40% center,  100%;*/
}
/*end of #about-us*/
#learn-more{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 3rem;
}
.footer{
    display: block;
    width: 100%;
    background: rgb(230, 99, 41);
    padding: 1rem;
    color: rgb(255, 248, 240);
}
.footer div{
    font-size: 70%;
    line-height: 1.4;
    text-align: center;
}
.footer div p, .footer div a{
    font-size: inherit;
    line-height: 1.2;
}
.footer div .drd-a{
    letter-spacing: 2px;
}
@media screen and (min-width: 760px){
    .footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer p{
        padding-top: 0;
    }
}
@media screen and (min-width: 760px){
    .footer div{
        font-size: 80%;
    }
}
@media screen and (min-width: 1200px){
    .footer div .drd-a{
        letter-spacing: 3px;
    }
}
#worth .content{
    max-width: 900px;
    padding: 3rem;
    margin: auto;
    color: rgb(0, 181, 197);
}
#worth .content p{
    color: rgb(0, 181, 197);
    padding: 1rem;
}
#worth .content a{
    color: rgb(230, 99, 41);
}
#worth .content a:hover, #worth .content a em:hover{
    color: rgb(204, 116, 0);
}
#worth .content a:hover:after{
    background: rgb(204, 116, 0);
}
#worth .content ol li{
    counter-increment: item;
    margin-bottom: 5px;
    color: rgb(0, 181, 197);
    padding-left: 25px;
}
#worth .content ol li strong{
    color: rgb(0, 181, 197);
    font-weight: 600;
}
#worth .content ol li:before{
    margin-right: 10px;
    font-family: 'Dancing Script',cursive;
    content: counter(item);
    background: rgb(230, 99, 41);
    border-radius: 100%;
    color: rgb(255, 248, 240);
    width: 3rem;
    text-align: center;
    display: inline-block;
}
#worth .content .signature img{
    display: inline-block;
    width: 40px;
}
