@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Slab:300,400,700|Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*@define-mixin headingSize $size: 1.8rem, $spacing: 7px
{
  @for $i from 6 through 1{
    h#{$i}{
      @extend %heading;
      font-size: $size;
      letter-spacing: $spacing;
    }
    $size: $size + .4rem;
    $spacing: $spacing * 1.2;
  }
}*/
/*@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    } @else {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }

}*/
/*====================MAIN PAGE STYLES============*/
html {
    /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    height: 100vh;
    padding: 0;
    color: black;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Slab',serif;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    color: white;
    padding-top: .5em;
    font-weight: 500;
}
/*--adds .4 rem to each heading fz and character spacing 1-6---*/
h1 {
    font-size: 2.2rem;
    letter-spacing: 7px;
}
h2 {
    font-size: 1.8000000000000003rem;
    letter-spacing: 2.1px;
}
h3 {
    font-size: 1.4000000000000004rem;
    letter-spacing: 0.63px;
}
h4 {
    font-size: 1.0000000000000004rem;
    letter-spacing: 0.189px;
}
@media screen and (min-width: 432px) {
    h1 {
        font-size: 2.2rem;
        letter-spacing: 10px;
    }
    h2 {
        font-size: 1.8000000000000003rem;
        letter-spacing: 3px;
    }
    h3 {
        font-size: 1.4000000000000004rem;
        letter-spacing: 0.8999999999999999px;
    }
    h4 {
        font-size: 1.0000000000000004rem;
        letter-spacing: 0.26999999999999996px;
    }
}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 3.2rem;
        letter-spacing: 12px;
    }
    h2 {
        font-size: 2.8000000000000003rem;
        letter-spacing: 3.5999999999999996px;
    }
    h3 {
        font-size: 2.4000000000000004rem;
        letter-spacing: 1.0799999999999998px;
    }
    h4 {
        font-size: 2.0000000000000004rem;
        letter-spacing: 0.32399999999999995px;
    }
}
@media screen and (min-width: 780px) {
    h1 {
        font-size: 3.6rem;
        letter-spacing: 12px;
    }
    h2 {
        font-size: 3.2rem;
        letter-spacing: 3.5999999999999996px;
    }
    h3 {
        font-size: 2.8000000000000003rem;
        letter-spacing: 1.0799999999999998px;
    }
    h4 {
        font-size: 2.4000000000000004rem;
        letter-spacing: 0.32399999999999995px;
    }
}
.nav-elements {
    padding: .4rem 0;
    width: 100%;
    /*nav-bar*/
    /*end of $m800 media query*/
}
.nav-elements .nav-bar {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.nav-elements .nav-bar li {
    max-height: 40px;
}
.nav-elements .nav-bar a {
    color: white;
    width: 100%;
    font-weight: 400;
    text-align: center;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    padding: 0 .4rem;
}
.nav-elements .nav-bar a:after {
    display: block;
    content: '';
    background-color: rgb(0, 145, 158);
    width: 0;
    height: 3px;
    margin-bottom: .3rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-in;
    transition: width .3s ease-out, background-color .3s ease-in;
}
.nav-elements .nav-bar a:hover {
    color: rgb(0, 145, 158);
}
.nav-elements .nav-bar a:hover:after {
    content: '';
    background-color: rgb(0, 145, 158);
    width: 100%;
}
/*end of anchor tags*/
.nav-elements .nav-bar i {
    display: none;
}
.nav-elements .nav-bar li:last-of-type {
    padding-right: .4rem;
}
@media screen and (min-width: 600px) {
    .nav-elements {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .nav-elements .nav-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav-elements .nav-bar a {
        line-height: 1.5;
    }
    .nav-elements .nav-bar i {
        display: block;
        color: white;
        font-size: 80%;
        padding: 0 2rem;
    }
}
/*nav-elements*/
/*-----------Header Styles--------------------*/
/*.header {*/
/*min-height: 100vh;
  position: relative;*/
#headerImage {
    position: relative;
    background: -webkit-linear-gradient( bottom, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/lakeview_500.jpg);
    background: linear-gradient( to top, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/lakeview_500.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 400px;
    max-height: 400px;
    /*> 900px*/
}
@media screen and (min-width: 432px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, transparent, rgba(0, 181, 197, 0.8)), url(../images/backgrounds/lakeview_500.jpg);
        background: linear-gradient( to top, transparent, rgba(0, 181, 197, 0.8)), url(../images/backgrounds/lakeview_500.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        max-height: 400px;
    }
}
@media screen and (min-width: 600px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/glacier2_800.jpg);
        background: linear-gradient( to top, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/glacier2_800.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        max-height: 400px;
    }
}
@media screen and (min-width: 1200px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, transparent, transparent), url(../images/backgrounds/glacier2_1600.jpg);
        background: linear-gradient( to top, transparent, transparent), url(../images/backgrounds/glacier2_1600.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 400px;
        max-height: 400px;
    }
}
@media screen and (min-width: 1400px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/glacier2_1600.jpg);
        background: linear-gradient( to top, transparent, rgba(255, 173, 66, 0.8)), url(../images/backgrounds/glacier2_1600.jpg);
        background-repeat: no-repeat;
        background-position: center -125px;
        background-size: cover;
        height: 400px;
        max-height: 400px;
    }
}
/*end of #headerimage*/
.bg-wrapper {
    padding: 1rem 0;
}
.bg-wrapper #logo {
    position: relative;
    background: url(../images/logos/DRD_notag.svg) no-repeat white;
    background-size: 90%;
    background-position: center center;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
@media screen and (min-width: 600px) {
    .bg-wrapper {
        padding: 6rem 0 1rem;
    }
}
/*end of .bg-wrapper*/
h3 {
    padding-top: 0;
    padding-bottom: 1rem;
}
/*}/*end of .header*/
#tagline {
    background-color: rgba(0, 181, 197, 0.6);
    margin: 0 auto;
    height: 400px;
}
#tagline p {
    font-family: 'Dancing Script',cursive;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
}
@media screen and (min-width: 600px) {
    #tagline p {
        font-size: 2.2rem;
    }
}
/*end of #tagline*/
#design {
    background: rgb(0, 181, 197);
}
#design h2 {
    padding: 1rem 0;
}
