@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Slab:300,400,700|Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a {
    display: inline-block;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*@define-mixin headingSize $size: 1.8rem, $spacing: 7px
{
  @for $i from 6 through 1{
    h#{$i}{
      @extend %heading;
      font-size: $size;
      letter-spacing: $spacing;
    }
    $size: $size + .4rem;
    $spacing: $spacing * 1.2;
  }
}*/
/*@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    } @else {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }

}*/
/*====================MAIN PAGE STYLES============*/
html {
    /*---sets font size using rem to exact pixel. for example 1.8rem = 18 px.*/
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    height: 100vh;
    padding: 0;
    color: black;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Slab',serif;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    color: white;
    padding-top: .5em;
    font-weight: 500;
}
/*--adds .4 rem to each heading fz and character spacing 1-6---*/
h1 {
    font-size: 2.1rem;
    letter-spacing: 7px;
}
h2 {
    font-size: 1.7000000000000002rem;
    letter-spacing: 2.1px;
}
h3 {
    font-size: 1.3000000000000003rem;
    letter-spacing: 0.63px;
}
h4 {
    font-size: 0.9000000000000002rem;
    letter-spacing: 0.189px;
}
@media screen and (min-width: 380px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: 10px;
    }
    h2 {
        font-size: 2.1rem;
        letter-spacing: 3px;
    }
    h3 {
        font-size: 1.7000000000000002rem;
        letter-spacing: 0.8999999999999999px;
    }
    h4 {
        font-size: 1.3000000000000003rem;
        letter-spacing: 0.26999999999999996px;
    }
}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 4rem;
        letter-spacing: 12px;
    }
    h2 {
        font-size: 3.6rem;
        letter-spacing: 3.5999999999999996px;
    }
    h3 {
        font-size: 3.2rem;
        letter-spacing: 1.0799999999999998px;
    }
    h4 {
        font-size: 2.8000000000000003rem;
        letter-spacing: 0.32399999999999995px;
    }
}
@media screen and (min-width: 760px) {
    h1 {
        font-size: 4.4rem;
        letter-spacing: 18px;
    }
    h2 {
        font-size: 4rem;
        letter-spacing: 5.3999999999999995px;
    }
    h3 {
        font-size: 3.6rem;
        letter-spacing: 1.6199999999999999px;
    }
    h4 {
        font-size: 3.2rem;
        letter-spacing: 0.48599999999999993px;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4.8rem;
        letter-spacing: 22px;
    }
    h2 {
        font-size: 4rem;
        letter-spacing: 6.6px;
    }
    h3 {
        font-size: 3.2rem;
        letter-spacing: 1.9799999999999998px;
    }
    h4 {
        font-size: 2.4000000000000004rem;
        letter-spacing: 0.5939999999999999px;
    }
}
.nav-elements {
    padding: 2rem 0 1rem;
    width: 100%;
    /*nav-bar*/
}
.nav-elements .nav-bar {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /*end of anchor tags*/
}
.nav-elements .nav-bar li {
    margin: 2rem;
}
.nav-elements .nav-bar a {
    color: black;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    padding: 0 .4rem;
}
.nav-elements .nav-bar a:after {
    display: block;
    content: '';
    background-color: rgb(255, 173, 66);
    width: 0;
    height: 3px;
    margin-bottom: .3rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-in;
    transition: width .3s ease-out, background-color .3s ease-in;
}
.nav-elements .nav-bar a:hover {
    color: rgb(255, 173, 66);
}
.nav-elements .nav-bar a:hover:after {
    content: '';
    background-color: rgb(255, 173, 66);
    width: 100%;
}
@media screen and (min-width: 380px) {
    .nav-elements .nav-bar a {
        font-size: 2.2rem;
    }
}
/*nav-elements*/
/*-----------Header Styles--------------------*/
/*.header {*/
/*min-height: 100vh;
  position: relative;*/
#headerImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-linear-gradient( bottom, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_800.jpg);
    background: linear-gradient( to top, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_800.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
}
#headerImage .bg-wrapper {
    padding: 1rem 0;
}
#headerImage .bg-wrapper #logo {
    position: relative;
    background: url(../images/logos/DRD_notag.svg) no-repeat white;
    background-size: 90%;
    background-position: center center;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
/*end of .bg-wrapper*/
#headerImage h1 {
    color: rgb(137, 52, 16);
}
#headerImage h3 {
    padding-top: 0;
    padding-bottom: 1rem;
    color: black;
}
#headerImage p {
    font-family: 'Dancing Script',cursive;
    text-align: center;
    color: black;
    padding: .5rem;
    font-size: 1.8rem;
}
@media screen and (min-width: 600px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_800.jpg);
        background: linear-gradient( to top, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_800.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        max-height: 100vh;
    }
}
@media screen and (min-width: 1200px) {
    #headerImage {
        background: -webkit-linear-gradient( bottom, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_1600.jpg);
        background: linear-gradient( to top, rgba(0, 181, 197, 0.7), rgba(255, 173, 66, 0.7)), url(../images/backgrounds/glacier2_1600.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        max-height: 100vh;
    }
}
@media screen and (min-width: 600px) {
    #headerImage p {
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 760px) {
    #headerImage p {
        font-size: 2.8rem;
    }
}
/*end of #headerImage*/
#design {
    background: rgb(0, 181, 197);
}
#design h2 {
    padding: 1rem 0;
}
